html {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
--text: #020123;
  --background: #e2e1fe;
  --primary: #6964fc;
  --secondary: #c5c3fe;
  --accent: #0c04f0;
}

[data-theme="dark"] {
  --text: #e2e1fe;
  --background: #020123;
  --primary: #6964fc;
  --secondary: #020128;
  --accent: #9390fd;
}

#root {
  height: 100vh;
  margin: 0 5%;
  line-height: 1.75;
  font-size: 1.25em;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--background);
}

.button-primary {
  background-color: var(--primary);
}

.button-secondary {
  background-color: var(--secondary);
}

p {
  color: var(--text)
}
